[user]
	email = seth_stadick@bio-rad.com
	name = Seth Stadick
[ui "color"]
	ui = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[merge]
	tool = vimdiff
[alias]
	c = commit
	s = status
	st = status
	lg = log --oneline
	last = log -1 HEAD
	f = push --force-with-lease
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
[push]
	default = simple
[help]
	autocorrect = 1
[github]
	user = sethrad
[diff]
	algorithm = patience
	compactionHeuristic = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
